/* ---------------------------------------------------------------------------------------------------- */
/* RESET CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
  font-family: Helvetica, Arial, sans-serif;
}

#wrapper{
  height: 600px; 
  width: 800px;
  margin: 5px;
}

#header{
    width: 98%;
    height: 10%;
    margin: auto;
    background-color: #333;
    color: white;
    font-size: 32px;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    font-weight: bold;
}

#line-chart
{
    width: 98%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}

#diff-chart
{
    width: 98%;
    height: 44%;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

#month-titles {
    width: 90%;
    padding-left: 10%;
    height: 24px;
}

#month-titles-title {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#month-titles-header {
    width: 100%;
    margin-top: 2px;
    font-size: 10px;
    z-index: 1000;
}

.month-titles-text {
    text-align: center;
    width: 8.333%;
    float: left;
}

#dept-titles {
    width: 10%;
    height: 240px;
    float: left;
    font-size: 10px;
    font-weight: bold;
}

.dept-title-row {
    height: 12.5%;
    width: 100%;
    display: table;
}

.dept-title-row-text {
    display: table-cell;
    vertical-align: middle;
}

#footer
{
    width: 98%;
    height: 3%;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 6px;
}

#main-title {
  padding-top: 12px;
}

p {
    font-size: 12px;
    color: #333;
}

